*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.card {
  display: flex;
}

.logo {
  width: 100px;
  margin: auto 30px;
  

}
h1 {
  color:#005D6C;
}

h2 {
  font-weight: 300;
  font-size: 1.25rem;
  color:#00076F;
  
}
.space {
  display: flex;
  border-right: 1px solid black;
}

.right {
  margin-left: 20px;
}
.contatos{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 5px;
  align-content: center;
  justify-content: center;

  div{
    display: flex;
    align-content: center;
    align-items: center;
 
  }
 
  
  font-size: small;
  img {
    width: 15px;
    margin-right: 5px;
    
  }
}